@model projekat.viewModel.SkolaViewModel
@{
    ViewBag.Title = "kaciMaterijal";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><h4 class="text-center" style="font-family:'Times New Roman';">Kacenje materijala</h4></div>
            <div class="card-body">
                @using (Html.BeginForm("okaciMaterijal","Casovi",FormMethod.Post,new { enctype="multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    if (ViewBag.SuccMsg != null)
                    {
                        <div class="form-row hideAfter">
                            <div class="form-group col-md-12"><p class="text-success">@ViewBag.SuccMsg</p></div>
                        </div>
                    }else if (ViewBag.ErrMsg != null)
                    {
                            <div class="form-row hideAfter">
                                <div class="form-group col-md-12"><p class="text-danger">@ViewBag.ErrMsg</p></div>
                            </div>
                    }
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.Label("Materijal.KursID","Lista Kurseva:")
                            @Html.DropDownListFor(x => x.Materijal.KursID, Model.KurseviLista, null, new { @class = "form-control" })
                           
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("imeProfesora","Profesor:")
                            @Html.TextBoxFor(x => x.imeProfesora, new { @class = "form-control", disabled = "true" })
                            @Html.HiddenFor(x=>x.Materijal.ProfesorID)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.Label("ImeMaterijala","Ime materijala:")
                            @Html.TextBoxFor(x=>x.Materijal.Ime,null,new { @class="form-control",placeholder="Unesite ime materijala"})
                            @Html.ValidationMessageFor(x=>x.Materijal.Ime,null,new { @class="text-danger hideAfter"})
                        </div>
                        <div class="form-group col-md-6">
                            @Html.Label("FileUpload","Pdf-fajl(Materijal):")
                            <input class="form-control-file" type="file" name="file" id="file" accept=".pdf"/>
                            <small class="form-text text-muted hideAfter" style="color:red;">@ViewBag.NoFile</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block mb-2">Potvrdi</button>
                        </div>
                    </div>
                    }
            </div>
        </div>
    </div>
</div>

<script>setTimeout(function () { $('.hideAfter').hide(); }, 4000);</script>