@model projekat.viewModel.SkolaViewModel
@{
    ViewBag.Title = "skiniMaterijal";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<table id="example" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr>
            <th>Rbr</th>
            <th>Naziv kursa</th>
            <th>Naziv materijala</th>
            <th>Profesor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @{ int y = 0;}
            @foreach (var i in Model.materijali)
            {
                { y++; }
                <tr>
                    <td align="right" style="width:15px;">@y</td> 
                    <td>
                        @Html.DisplayFor(x=>i.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(x => i.Atribut)
                    </td>
                    <td>
                        @Html.DisplayFor(x => i.Profesor.Korisnik.Ime)
                    </td>
                    <td align="center" style="width:15px;">
                        <a class="btn btn-link" href="@Url.Action("GetPdf", "Casovi",new { filename=i.Atribut })"><i class="fa fa-download fa-2x"></i></a>
                    </td>
                </tr>
                
            }
    </tbody>
</table>