<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zadatak projektnog centra</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="@Url.Action("HomePage","Home")"><i class="fa fa-graduation-cap fa-2x"> Favicon</i></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        Meni
                    </a>
                    <div class="dropdown-menu">
                        @if (Session["Role"].Equals("korisnik"))
                        {
                            @Html.ActionLink("Skini materijal", "skiniMaterijal", "Casovi", null, new { @class = "dropdown-item" })
                        }
                        else if (Session["Role"].Equals("profesor"))
                        {
                            @Html.ActionLink("Okaci materijal", "kaciMaterijal", "Casovi", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Beleži prisustvo", "Prisustvo", "Casovi", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Upisivanje casa", "UpisivanjeCasa", "Casovi", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Zakljucivanje ocena", "Zakljucivanje", "Casovi", null, new { @class = "dropdown-item" })
                        }
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Odjavi se", "Logout", "Home", null, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
            @if (Session["Role"].Equals("korisnik"))
            {
                <span class="navbar-text" style="font-family:cursive;"><b>Korisnik:</b> Polaznik skole stranih jezika</span>
            }
            else if (Session["Role"].Equals("profesor"))
            {
                <span class="navbar-text" style="font-family:cursive;"><b>Korisnik:</b> Profesor skole stranih jezika</span>
            }
            else if (Session["Role"].Equals("admin"))
            {
                <span class="navbar-text" style="font-family:cursive;"><b>Korisnik:</b> Administrator skole stranih jezika</span>
            }
        </div>
    </nav>
    <div class="container" style="padding:15px 0 15px 0;">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>